@model PageViewModel<EpiserverSite1.Models.Pages.StartPage>
@using EpiserverSite1.Models.ViewModels;


<h1 @Html.EditAttributes(m => m.CurrentPage.Heading)>
    @(Model.CurrentPage.Heading ?? Model.CurrentPage.Name)
</h1>
@Html.PropertyFor(m => m.CurrentPage.MainBody)

@Html.PropertyFor( m => m.CurrentPage.MainContentArea,
    new {CssClass = "row equal-height"})

