@model EpiserverSite1.Models.Pages.StandardPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.DisplayFor(m => m.MainBody)
    </div>
</body>
</html>
